.contactme{
    margin-top: 100px;
}

.thx{
    margin-top: 21%;
}
textarea{
    width:100%;
    color:black;
    background-color: rgb(255, 196, 173);
}
input{
    border:solid rgb(189, 187, 187) 1px;
    color:black;
    background-color: rgb(255, 196, 173);
    float: right;
}

.btncolor{
    background-color: #BD5D38;
    color:white;
}

html {
    scroll-behavior: smooth;
  } 